.navbar{
  padding: 20px 0px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo{

    width: 150px;

}

.nabvar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;

}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 70px;
}
.navbar-search-icon{
    display: flex;
    align-items: center;
    gap: 70px;
}
.navbar button{
    background: transparent;
    font-size: 15px;
    color:#49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}
.navbar button:hover{
    background-color: #fff4f2;
}